@model MediaWeb.Models.User.UserShowViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<MediaWeb.Domain.MediaWebUser> UserManager

<div class="card-rows">
    @foreach (var user in Model.Users)
    {
    <div class="card">
        <div class="card-body">
            <h5>@user.UserName</h5>
            @foreach (var role in await UserManager.GetRolesAsync(user))
            {
                <ul>@role</ul>
            }
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Role
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="User" asp-action="AddUserRole" asp-route-id="@user.Id">User</a>
                <a class="dropdown-item" asp-controller="User" asp-action="AddAdminRole" asp-route-id="@user.Id">Admin</a>
            </div>
        </div>        
    </div>
    }
</div>